*{
    margin: 0;
    padding: 0;
    /* background-blend-mode:darken; */
}
body{
    /* background-color: rgba(35, 20, 202, 0.632); */
    background-image: url('lambo.avif');
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
    background-size: 100vw auto;
    color: whitesmoke;
}
.container{
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    gap: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
